.back{
    background: url(img/cyberhunter_back\ -\ C.jpeg) center center fixed;
    background-size:cover;
}
.opacy{
    opacity: 90%;
}
.contback{
    background-image: url(img/Syffer/Fundo-cards2.png) ;
                                
   
}

